.navbar {
  background: var(--greyh);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0;
}
.navbar .list {
  width: 60%;
}
.navbar .list ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .list ul li {
  
}
.navbar .list ul li a {
  text-decoration: none;
  color: var(--oran1);
}

