:root {
  /* GruvBox Dark Mode Colors */
  --greyh: #1d2021;
  --grey0: #282828;
  --grey1: #3c3836;
  --whit0: #fbf1c7;
  --whit1: #ebdbb2;
  --whit2: #d5c4a1;
  --whit3: #bdae93;
  --whit4: #a89984;
  --oran0: #d65d0e;
  --oran1: #fe8019;
  --yell0: #d79921;
  --yell1: #fabd2f;
  --red0: #cc241d;
  --red1: #fb4934;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
